
$columnAmount:12;

.vvp-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


@mixin createGridColumn($i,$columnAmount){
  position:relative;
  width:100%;
  box-sizing: border-box;
  flex: 0 0 6.5%;
  max-width: 6.5%;
  background-color: rgba(red,0.3);
  height: 100vh;
}

@media (min-width:1200px){
  @for $i from 1 through 12{
    .vvp-grid__col-xl-#{$i} {
      @include createGridColumn($i, $columnAmount)
    }
  }
}


@media (min-width: 992px){
  @for $i from 1 through 12{
     .vvp-grid__col-lg-#{$i} {
      @include createGridColumn($i, $columnAmount)
    }
  }
}

@media (min-width: 768px){
  @for $i from 1 through 12{
     .vvp-grid__col-md-#{$i} {
      @include createGridColumn($i, $columnAmount)
    }
  }
}





