
$orange:#F37121;
$orange80:rgba($orange,0.8);
$orange60:rgba($orange,0.6);

$red:#D71C23;
$red80:rgba($red,0.8);
$red60:rgba($red,0.6);

$yellow:#FCAF17;
$yellow80:rgba($yellow,0.8);
$yellow60:rgba($yellow,0.6);

$beige:#B29C88;
$beige80:rgba($beige,0.8);
$beige60:rgba($beige,0.6);

$blue:#0080C3;
$blue80:rgba($blue,0.8);
$blue60:rgba($blue,0.6);

$azure:#00A2E5;
$azure80:rgba($azure,0.8);
$azure60:rgba($azure,0.6);

$black:#000000;
$black80:rgba($blue,0.8);
$black60:rgba($black,0.6);

$white:#FFFFFF;
$white80:rgba($white,0.8);
$white60:rgba($white,0.6);




