//orange color
$orange:#F37121;
$orange80:$orange*1.2;
$orange60:$orange*1.4;

//red color
$red:#D71C23;
$red80:$red*1.2;
$red60:$red*1.4;

//yellow color
$yellow:#FCAF17;
$yellow80:$yellow*1.2;
$yellow60:$yellow*1.4;

//beige color //бежевый
$beige:#B29C88;
$beige80:$beige*1.2;
$beige60:$beige*1.4;

//blue color// синий
$blue:#0080C3;
$blue80:$blue*1.2;
$blue60:$blue*1.4;

//azure color// глазурь(голубой)
$azure:#00A2E5;
$azure80:$azure*1.2;
$azure60:$azure*1.4;

//black color
$black:#000000;
$black80:$blue*1.2;
$black60:$black*1.4;

//white color
$white:#FFFFFF;
$white80:$white*1.2;
$white60:$white*1.4;




