.vvp-select{
  min-height: 38px;
  width: 100%;
	background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
	background-size: 34px;
  background-color: $white;
  font-size: 18px;
  border-radius: 2px;
  padding-left: 10px;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &--transparent {
    backdrop-filter: blur(10.8px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}