.vvp-button {
    font-size: 18px;
    margin-top: 10px;
    font-family: $font-paragraphs;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    padding: 10px 24px;
    min-width: 160px;
    &:hover {
        text-decoration: none;
    }
    &--border {
        background-color: $color-white;
        color: $color-red;
        display: inline-block;
        border: 2px solid $color-red;
    }
    &--fill {
        background-color: $color-orange;
        color: #fff;
        border: 2px solid $color-orange;
    }
}