.vvp-menu{
	background-color: $color-beige20;
	height: 100%;
	width: 354px;
	position: absolute;
	color: $color-grey;
	line-height: 22px;
	font-family: Lato, sans-serif;
	font-size: 18px;

	&--close{
		margin-left: -354px;
	}

	&--open{
		margin-left: 0;
	}

	&__header{
		width: 100%;
		height: 80px;
		border-bottom: 2px solid $color-black10;
	}

	&-list{
		list-style: none;
		padding: 0;
		margin: 0;

		&__item{
			display: block;
			height: 70px;
			border-bottom: 2px solid $color-black10;
		}

		&__link{
			display: block;
			text-decoration: none;
			color: inherit;
			padding: 24px;

			&:hover{
				background-color: $color-black30;
			}
		}
	}

	&-close{
		display: inline-block;
		position: relative;
		top: 15px;
		left: 26px;
		cursor: pointer;
	}

	&-sign{
		display: inline-block;
		width: 32px;
		height: 32px;
		position: relative;
		top: 24px;
		left: 23px;
	}

	&-show{
		&--active{
			cursor: pointer;
		}
	}
}

.vvp-content{
	position: absolute;
	width: 100%;
	height: 100%;

	&--moved{
		margin-left: 354px;
		background: $color-black30;
	}
}

