.vvp-menu{
	background-color: $color-beige20;
	height: 100%;
	width: 354px;
	position: fixed;
	margin-left: -354px;
	color: $color-grey;
	line-height: 22px;
	font-family: Lato, sans-serif;
	font-size: 18px;
	transition: margin 0.3s ease;

	&__header{
		width: 100%;
		height: 80px;
		border-bottom: 2px solid $color-black10;
	}

	&-list{
		list-style: none;
		padding: 0;
		margin: 0;

		&__item{
			display: block;
			height: 70px;
			border-bottom: 2px solid $color-black10;
		}

		&__link{
			display: block;
			text-decoration: none;
			color: inherit;
			padding: 24px;

			&:hover{
				background-color: $color-black30;
			}
		}
	}

	&__close{
		display: inline-block;
		position: relative;
		top: 15px;
		left: 26px;
		text-decoration: none;
		color: inherit;
	}
	
	&__icon{
		top: 9px;
	}
}

.vvp-container{
	transition: transform 0.3s ease;
}

.vvp-menu-active{
	.vvp-menu{
		margin-left: 0;
		transition: margin 0.3s ease;
	}

	.vvp-container{
		transform: translate(354px);
		transition: transform 0.3s ease;
	}

	.vvp-onmenu-background{
		display: block;
	}
}

.vvp-onmenu-background{
	display: none;
	width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color-black30;
	cursor: pointer;
}

.vvp-menu-open{
		top: 22px;
		left: 26px;
		cursor: pointer;
	}