.container {
    display: flex;
    justify-content: center;
    .modal {
        width: 50%;
        background-color: #f7f5f3;
        .content {
            margin: 20px 20px;
            position: relative;
            .modal__close {
                position: absolute;
                height: 25px;
                top: -10px;
                right: -10px;
            }
            .title {
                font-size: 30px;
            }
            .input-form {
                margin-bottom: 20px;
            }
            .buttons-wrap {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 1000px) {
    .modal {
        width: 60%;
    }
}