$column-amount:12;

.vvp-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.vvp-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin create-grid-column($i,$column-amount){
  position:relative;
  width:100%;
  box-sizing: border-box;
  flex: 0 0 percentage($i/$column-amount);
  max-width: percentage($i/$column-amount);
  padding:0 15px 0 15px;
}

@media (min-width:1200px){
  @for $i from 1 through 12{
    .vvp-grid__col-xl-#{$i} {
      @include create-grid-column($i, $column-amount)
    }
  }
}


@media (min-width: 992px){
  @for $i from 1 through 12{
    .vvp-grid__col-lg-#{$i} {
      @include create-grid-column($i, $column-amount)
    }
  }
}

@media (min-width: 768px){
  @for $i from 1 through 12{
    .vvp-grid__col-md-#{$i} {
      @include create-grid-column($i, $column-amount)
    }
  }
}





