.vvp-checkbox {
  cursor:pointer;
  display: block;
  font-family: $font-paragraphs;
  font-size: 16px;

  input {
    display: none;
    & + .vvp-checkbox__square:before {
      content:'';
      height:18px;
      width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      background-color: #fff; //$color-white
      border:2px solid #f37121;
      margin-right: 20px;
    }

    &:checked + .vvp-checkbox__square:before {
      content:'\2713';//check mark
      color:#fff;//$color-white
      background-color: #f37121;//color-$orange
    }
  }
}